@font-face {
    font-family: 'Art of Living Script';
    font-weight: 500;
    src: url('fonts/artofliving_script_regular.woff2') format('woff2');
    font-display: swap;
    size-adjust: 120%;
}

/* @font-face {
    font-family: 'Certa Sans';
    font-weight: 200 400;
    src: url('fonts/certa_sans_extra_light.woff2') format('woff2');
    font-display: swap;
} */

@font-face {
    font-family: 'Certa Sans';
    font-weight: 300 400;
    src: url('fonts/certa_sans_light.woff2') format('woff2');
    font-display: swap;
    size-adjust: 120%;
}

@font-face {
    font-family: 'Certa Sans';
    font-weight: 500 700;
    src: url('fonts/certa_sans_medium.woff2') format('woff2');
    font-display: swap;
    size-adjust: 120%;
}

body {
    max-width: 65ch;
    margin: 0 auto;
    padding: 1rem;
    padding: 0 1rem 2rem;
    font-family: 'Certa Sans', system-ui, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    margin-inline: -1rem;
    margin-block-start: 0;
    padding: 1rem;
    padding-block: 2rem;
    background-color: #ff8400; /* #ff7b7b; */
    color: white;
    font-size: 1.25rem;
    text-align: center;
}

section {
    margin-block-start: 3rem;
}

article + article {
    margin-block-start: 3rem;
}

article h3 {
    font-family: 'Art of Living Script', cursive;
    font-size: 2rem;
    margin-block: 0;
}

article p {
    margin-block: 0.5em;
}

.first-step {
    color: hsl(328 93% 48% / 1);
}

.happiness {
    color: #ff8400;
}

.deep-sleep {
    color: #ff7b7b;
}

.art-excel {
    color: #ffc001;
}

.yes {
    color: #4bbf05;
}

.intuition {
    color: #3f34f7;
}